*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* for mobile */
#preview-gridwrapper{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 6fr 1fr;
    grid-template-rows:64px 360px 192px ;
    grid-template-areas: 
    "he na"
    "ma ma"
    "ar ar"
    ;
}

@media screen and (min-width: 501px){
#preview-gridwrapper{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows:64px 64px 360px 192px ;
    grid-template-areas: 
    "he"
    "na"
    "ma"
    "ar"
    ;
}
}

#global_header{
    grid-area: he;
    padding: 0%;
    background: #bb72ff;
    
}
/* .navigationlinks{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    list-style-type:none;
    text-decoration: none;
} */

a{
    text-decoration: none;
    color: black;
}


nav{
    grid-area: na;
    background:#1d64ff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2vh;
    box-shadow: 0px -2px 15px  black;   
}

/* #homebutton{
    height: 32px;
    width: auto;
    margin-right: 90vw;
} */

main {
    grid-area: ma;
    background: rgba(251,254,254,255);
    display: flex;
    justify-content: center;
}

article{
    grid-area: ar;
    background: #bb72ff ;
    display: flex;
    align-items: center;
    flex-direction: column;

}

footer{
    grid-area: fo;
    background: #bb72ff;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
    margin-right: 10px;
    z-index: 100;
}
.menu-btn_burger{
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rebeccapurple;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    width:  30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rebeccapurple;
    transition: all .5s ease-in-out;

}
/* möjligt fel */
.menu-btn_burger::before {
    transform: translateY(-10px);
}
.menu-btn_burger::after{
    transform: translateY(10px);
}

/* animering */
body.openButton  .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

body.openButton .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
body.openButton .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

body.openButton .menu-btn {
    left:0; 
    opacity:1; 
    transition: opacity 0.3s linear;
}


.navigationlinks {
    left:-100%; 
    opacity:0; 
    transition:opacity 0.3s linear, left 0s linear 0.3s;
}

body.openButton .navigationlinks {
    left:0; 
    opacity:1; 
    transition:opacity 0.3s linear;
}

.menu-items {
    position: relative; 
    top: 10%;}
.menu-items ul{
    list-style: none; 
    text-align: center; 
    margin:0; 
    padding:0;
}
.menu-items ul li{
    display: block; 
    margin:0; 
    padding: 4.5%;
}
.menu-items a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff; 
    border-bottom: 4px solid #ffffff;
}
.menu-items a {
    opacity: 1;}
.menu-items li {
    transform: scale(1.0); 
    transition: transform 0.3s ease-out;}
.menu-items li:hover {
    transform: scale(1.25);}
/* findme */
.menu-items li:nth-child(1) a{
    border-color: #bb72ff;}
.menu-items li:nth-child(2) a{
    border-color: #bb72ff;}
.menu-items li:nth-child(3) a{
    border-color: #bb72ff;}
.menu-items li:nth-child(4) a{
    border-color: #bb72ff;}



.navigationlinks {
    position: fixed;  
    background: rgba(29,29,44,.9); 
    width: 100%; 
    height:100%; 
    z-index: 90;}



/* button action here */

@media screen and (max-width: 501px){

    
}

/* Laget CSS */

#laget-gridwrapper{
    display: grid;
    width: 100%;
    height: 354px;
    grid-template-rows: 64px 270px 120px;
    grid-template-columns:6fr 1fr ;
    grid-template-areas: 
    "he na"
    "ml ml"
    ;
}


@media screen and (min-width: 501px){
    #laget-gridwrapper{
    width: 100vw;
    height: 100vw;
    grid-template-rows: 64px 64px 270px 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "he"
    "na"
    "ml"
    ;
}
}

#main-laget-wrapper{
    grid-area: ml;
    display: grid;
    grid-template-rows: repeat(5, 1fr) ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "p1 p2"
    "p3 p4"
    "p5 p6"
    ;
}

@media screen and (max-width: 501px){
    #main-laget-wrapper{
        grid-area: ml;
        display: flex;
        flex-direction: column;
        height: 390vh;
    }
}

.laget_variable{
    margin-left: 82px;
    margin-right: 82px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 2px 10px #1d64ff;
}
.img_variable{
    width:128px ;
    height: auto;
}

#laget-display-game{
    height: 270px;
    width: 470px;
}
#laget-display-bild-variable{
    display: flex;
    justify-content: center;
}
#lag1{
    grid-area: p1;

}
#lag2{
    grid-area: p2;
    
}
#lag3{
    grid-area: p3;

}
#lag4{
    grid-area: p4;

}
#lag5{
    grid-area: p5;

}
#lag6{
    grid-area: p6;
}

#stageimage{
    height: 270px;
    width: auto;
    margin: 16px;
}

#main-text-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#major-image{
    height: auto ;
    width: 750px;
    margin: 32px;
}

#esl-image{
    height: auto ;
    width: 750px;
    margin: 32px;
}

#application-main{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

}

#future-event-gridwrapper{
    display: grid;
    height: 200vh;
    width: 100vw;
    grid-template-rows: 64px 1fr;
    grid-template-columns:6fr 1fr  ;
    grid-template-areas:

    "he na"
    "ma ma"

    
    
    ;
}
#future-events-wrapper{
    display: flex;
    flex-direction: column;
}

.future-event-variable{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
#future-event-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4px;
}

/* applications */

#aplication-gridwrapper{

    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 64px 1fr;
    grid-template-columns: 6fr 1fr;
    grid-template-areas: 

    "he na"
    "ma ma"

    ;
}
@media screen and (min-width: 501px){

    #aplication-gridwrapper{

        display: grid;
        grid-template-rows: 64px 64px 1fr;
        grid-template-columns: 6fr 1fr;
        grid-template-areas: 
    
        "he he"
        "na na"
        "ma ma"
    
        ;
    }

    #future-event-gridwrapper{
        display: grid;
        height: 200vh;
        width: 100vw;
        grid-template-rows: 64px 1fr;
        grid-template-columns:6fr 1fr  ;
        grid-template-areas:
    
        "he he"
        "na na"
        "ma ma"
        
        ;
    }
}

#about_us_gridwrapper{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 64px 1fr ;
    grid-template-columns: 6fr 1fr;
    grid-template-areas:
    
    "he na"
    "ma ma"
    
    ;
}
@media screen and (min-width: 501px){
#about_us_gridwrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 64px 64px 1fr ;
    grid-template-columns:1fr;
    grid-template-areas:
    
    "he"
    "na"
    "ma"
    
    ;
}
}

#picture_for_about_us{
    height: 80vh;
    width: auto;

}

#about_us_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about_us_variablediv{
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 501px){
    #about_us_variablediv{
        margin-left: 64px;
        margin-right: 64px;
        align-items: center;
        justify-content: center;
    }
}

#NTIE_logo{

    height: 64px;
    width: auto;

}